/* Add your CSS here to style your valentines day page */
@font-face {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    src: url(../fonts/Nanum_Myeongjo/NanumMyeongjo-Regular.ttf);
}

body {
    background: url(../images/strawberry-background.png) ;
}

header {
    text-align: center;
}

main h1 {
    text-align: center;
}

#wrapper {
    border: 3px solid #000000;
    width: 1024px;
    margin: 40px auto;
    border-radius: 20px;
    background: #E24B5A;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 50px;
    justify-content: space-evenly ;
    list-style-type: none;
    margin: 4;
    padding: 0;
}


footer {
    clear: both;
    text-align: center;
    padding: 20px;
}

