@font-face {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    src: url(../fonts/Nanum_Myeongjo/NanumMyeongjo-Regular.ttf);
}


body {
    background: url(../images/background-op-4.png) ;
}

#wrapper {
    border: 3px solid #000000;
    width: 1024px;
    margin: 40px auto;
    border-radius: 20px;
    background: #E07970;
}

h1 {
    font-family: 'Trbuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, Helvetica, sans-serif;
    font-size: 2em;
}

main section {
    width: 360px;
    height: 360px;
    padding: 8px;
    border: 8px solid #000000;
}

section img{
    max-width: 100%;
    height: auto;
}

header h1 {
    align-self: center;
    justify-self: center;
}

header {
    height: 200px
    display: grid;
    grid-template-colimns: 1fr 4fr;
}

#contact form {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.section {
    grid-column: 1/3;
}

main {
    display: grid;
    grid-template-columns: 437px 437px;
}

section {
    width: 437px;
    height: 437px;
    border: 12px solid #000000;
    box-sizing: border-box;
    padding: 8px;
    justify-self: center;
    margin: 30px;
    background: linear-gradient(#BBAB47 , #E07970);
}

nav {
    background: #f9d58d;
    font-size: 1.5em;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 50px;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
}

nav li {
    display: flex;
    align-items: center;
    height: 50px;
}

nav a {
    color: #8ABA47;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 36px;
}

nav a:hover {
    color: black;
    text-shadow: 2.5px 2.5px #E07970;
    background: #8ABA47;
}

#contact {
    width: 200px;
    height: 14px;
    min-height: 200px;
    border: solid #000000 3px;
    padding: 12px;
    background: #DE8948;
    position: fixed;
    bottom: 0px;
    right: 20px;
    /*transition: height .85s ease-in*/
}

#contact:hover {
    transition: height .85s ease-in;
    height: 200px;
}

footer {
    clear: both;
}

table.greyGridTable {
  border: 2px solid #FFFFFF;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
table.greyGridTable td, table.greyGridTable th {
  border: 1px solid #FFFFFF;
  padding: 3px 4px;
}
table.greyGridTable td:nth-child(even) {
  background: #f9d58d;
}
table.greyGridTable thead {
  background: #FFFFFF;
  border-bottom: 4px solid #333333;
}
table.greyGridTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #333333;
  text-align: center;
  border-left: 2px solid #333333;
}
table.greyGridTable thead th:first-child {
  border-left: none;
}

table.greyGridTable tfoot td {
  font-size: 14px;
}

@median (max-width:1024px) {
    #wrapper{
        width: 100%;
        margin: unset;
    }
    main{
        grid-template-columns: 1fr 1fr;
    }
    main section{
        width: 100%;
        heigth: 100%
    }
}